* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-padding-top: 80px;
}

body {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(90deg, #18181b, #18181b, #18181b);
}

header {
  display: flex;

  justify-content: center;
  align-items: center;
  
  position: sticky;
  top: 0;
  left: 0;

  z-index: 100;
  gap: 2rem;

  height: 92px;
  padding: 0 2rem;

  background-color: #18181b;
  border-bottom: 2px solid purple;
}

header nav {
  display: flex;
  gap: 1.5rem;
}

header nav a {
  display: flex;

  padding: 0.2rem 0.5rem;
  gap: 0.4em;

  font-size: 1.25rem;
  color: white;
  font-weight: 500;
  text-decoration: none;

  border: 2px solid gray;
  border-radius: 0.5rem;

  transition: all 0.3s ease;
}

header nav a:hover {
  color: purple;
  border-color: purple;
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(128, 0, 128, 0.2) ;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
  height: calc(120vh - 92px);
}

.pessoa {
  margin-top: 2rem;
  min-height: 50px;
  height: 80%;
  max-height: 642px;
  border-radius: 0.5rem;
  border: 1px solid purple;
  box-shadow: 0 8px 16px rgba(128, 0, 128, 0.2) ;
}