
.titulo {
    color: #95a1b1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    position: relative;
    align-items: center;
    text-align: center;
}


.meu-nome {
    color: #919eaf75;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -10px;
    position: relative;
    text-align: center;
}

.minha-foto {
    width: 110px;
    margin-left: 310px;
    position: relative;
    top: -85px;
    border-radius: 50%;
    box-shadow: 0 0 15px #00c6ff;
}



.skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.skill img {
    width: 24px;
    height: 24px;
}

#my-skills {
    font-family: poppins;
    font-size: 35px;
    text-align: left;
    color: #00BFFF; 
}
    

.languages {
  font-size: 20px; 
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  

}

.name-languages {
   font-family: Fire Code;
   margin-left: 10px;
}

body {
    background: url("https://raw.githubusercontent.com/maykbrito/my-public-files/main/nlw-19/bg.jpg") no-repeat;
    color: #e1e1e6;
    display: grid;
    place-items: center;
    padding: 2rem 1rem;
}


#apresentacao {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    margin-top: -40px;
    align-items: center;
    display: grid;  
    padding: 0;
    color: aliceblue;
}

#contato h2 {
    font-family: poppins;
    font-size: 35px;
    text-align: left;
    color: #00BFFF; 
}

#contato li, a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -65;
    gap: 8px;
    color: #fff;
    background: linear-gradient(to right, #8a2be2, #00bfff);
    -webkit-background-clip: text;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
     transition: 0.3s;
}

#contato img {
    width: 24px;
    height: 30px;
    gap: 10px;
}

#contato  a:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    
}









